@media screen and (min-width: 330px) and (max-width: 568px)
{
     .wrap{width:100%;}
     .wrap{margin:0;}
     .wrap{padding:0;}
     .wrap input[type=tel]{width: 100%;}
     .wrap input[type=tel]{font-size: 16px;}
     .wrap input[type=text]{width: 100%;}
     .wrap input[type=text]{font-size: 16px;}
/*     .wrap input[type=submit]{margin: 5px 0 0 0;} */
     .wrap{font-size:19px;}

     .linha label{font-size: 16px;}
}

body{
	background-color: #dddddf;
}

h3, h4{
	text-align: center;
	margin: 7px 0 5px 0;
}

.wrap{
	width: 320px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

.wrap input[type=tel]{
	width: 98%;
	font-size: 16px;
}

.wrap input[type=text]{
	width: 98%;
	font-size: 16px;
}

.wrap input[type=submit]{
	width: 103px;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0 0 0;
}

/*.wrap input[type=date]{
	width: 48%;
	margin: auto;
} */

#dtBase{
	width: 47%;
}
#dtVenc{
	width: 47%;
}

.linha{
	width: 320px;
}

.col{
	float: left;
}


.col1{
	width: 28%;
}
.col2{
	width: 16%;
}
.col3{
	width: 28%;
}
.col4{
	width: 28%;
}
.cRed{
	color: red;
}
